# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of go build
/bin/

# Coverage
coverage.out
coverage.html

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# Test results
testresults/

# Node modules (test vector generation only)
testdata/_node/
testdata/node_modules/
